<!DOCTYPE html>
<html>
    <head>
        <title>Polední menu Budějovická</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </head>

    <body>
    <div class="container mb-5">
        <h1 class="mt-5">Polední menu Budějovická</h1>
            {% for restaurant, menu in menus.items() %}
                <h3 class="mt-5">{{restaurant}}</h3>
                <table class="table mb-3 table-hover">
                    <tbody>
                        {% for meal, price in menu.items() %}
                            <tr>
                                <td>{{ meal }}</td>
                                <td>{{ price }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
        </div>
    </body>
</html>
